[logging]
project_name = "sweep_num_cuts_verified_data"

[sweep_configuration]
method = "bayes"

[sweep_configuration.metric]
goal = "minimize"
name = "valid_loss"

[sweep_configuration.parameters]

[sweep_configuration.parameters.model_names]
values = ["convnext_nano", "resnet34", "vit_tiny_patch16_384", "vit_small_patch16_384"]

[sweep_configuration.parameters.learning_rate]
min = 0.0001
max =  0.001

[sweep_configuration.parameters.batch_size]
values = [30, 40, 50]

[sweep_configuration.parameters.use_scheduler]
values = [true, false]

[model]
pretrained = true
number_of_classes = 2
mutually_exclusive = true

[data]
images_directory = "/media/yanny/BackUp3/Polypectomy Quality Predictor/Snare_Resections_Data/snare_resections"
annotations_path = "/media/yanny/BackUp3/Polypectomy Quality Predictor/Predictor_Number_of_Cuts/data/train_data.json"
validation_folds = [0, 1]
test_folds = []
label_names = ["negative", "positive"]

[transforms]
width = 384
height = 384
mean = [0.45211223, 0.27139644, 0.19264949]
std = [0.31418097, 0.21088019, 0.16059452]

[optimizer]
name = "AdamW"
learning_rate = 0.0004
weight_decay = 0.0002
eta_min = 0.000001

[training]
max_epochs = 30
device = "cuda"
checkpoint_directory = "./checkpoints"
save_top_k = 1
precision = 16
stopping_patience = 0 # < 1 to disable


[dataloading]
train_batch_size = 50
valid_batch_size = 50
test_batch_size = 50

train_workers = 4
valid_workers = 4
test_workers = 4

pin_memory = true



